<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="DefaultSQLConnection" connectionString="Server=.\\SQLEXPRESS;Database=PSManagementSystemNew;Trusted_Connection=True;Encrypt=False;MultipleActiveResultSets=True;" />
  <add name="PlayStation.Properties.Settings.DefaultSQLConnection"
   connectionString="Server=DESKTOP-NAPUIAL\\SQLEXPRESS;Database=PSManagementSystem;Trusted_Connection=True;Encrypt=False;MultipleActiveResultSets=True;" />
 </connectionStrings>
</configuration>